# Copyright (c) 2024 Hemi Labs, Inc.
# Use of this source code is governed by the MIT License,
# which can be found in the LICENSE file.

# NOTICE: This reusable workflow has moved to hemilabs/.github!
# Reusable workflows in hemilabs/actions will be removed in the v3.0.0 tag.
#
# Please update uses of this workflow to use the new workflow in hemilabs/.github
# New workflow: https://github.com/hemilabs/.github/blob/main/.github/workflows/docker.yml

name: "Docker"
on:
  workflow_call:
    inputs:
      version:
        description: "Application version (e.g. v1.0.0)"
        type: string
        required: true
      context:
        description: "Docker build context"
        type: string
        default: "${{ github.workspace }}"
      platforms:
        description: "Platforms to build image for (newline/comma separated)"
        type: string
        default: "linux/amd64"
      file:
        description: "Dockerfile to build"
        type: string
        default: "${{ github.workspace }}/Dockerfile"
      tags:
        description: "Docker image tags (newline/comma separated)"
        type: string
        required: true
      build-args:
        description: "Additional Docker build args (built-in: VERSION, VCS_REF, BUILD_DATE)"
        type: string
        default: ""
      prebuild:
        description: "Commands to execute before building Docker image"
        type: string
      dockerhub:
        description: "Push to Docker Hub (requires secrets to be set)"
        type: boolean
        default: false
    secrets:
      DOCKERHUB_USERNAME:
        description: "Docker Hub username"
        required: false
      DOCKERHUB_PASSWORD:
        description: "Docker Hub authentication token"
        required: false

jobs:
  docker:
    uses: hemilabs/.github/.github/workflows/docker.yml@e7891934f1d7169d9d4615f427d1e1a9386a8890 # v1.0.0
    permissions:
      contents: read
      packages: write # Needed to push to GitHub Container Registry
    with:
      version: "${{ inputs.version }}"
      context: "${{ inputs.context }}"
      platforms: "${{ inputs.platforms }}"
      file: "${{ inputs.file }}"
      tags: "${{ inputs.tags }}"
      build-args: "${{ inputs.build-args }}"
      prebuild: "${{ inputs.prebuild }}"
      dockerhub: "${{ inputs.dockerhub }}"
    secrets:
      DOCKERHUB_USERNAME: "${{ secrets.DOCKERHUB_USERNAME }}"
      DOCKERHUB_PASSWORD: "${{ secrets.DOCKERHUB_PASSWORD }}"
