# Copyright (c) 2024 Hemi Labs, Inc.
# Use of this source code is governed by the MIT License,
# which can be found in the LICENSE file.

name: JS Checks

on:
  workflow_call:
    inputs:
      fetch-depth:
        description: Number of commits to fetch. 0 indicates all history for all branches and tags.
        default: 1
        type: number
      node-versions:
        description: Array of Node versions to test with (JSON string)
        default: "['']"
        type: string

jobs:
  run-checks:
    uses: hemilabs/.github/.github/workflows/js-checks.yml@e7891934f1d7169d9d4615f427d1e1a9386a8890 # v1.0.0
    permissions:
      contents: read
    with:
      fetch-depth: "${{ inputs.fetch-depth }}"
      node-versions: "${{ inputs.node-versions }}"
