# Copyright (c) 2024-2025 Hemi Labs, Inc.
# Use of this source code is governed by the MIT License,
# which can be found in the LICENSE file.

# NOTICE: This reusable workflow has moved to hemilabs/.github!
# Reusable workflows in hemilabs/actions will be removed in the v3.0.0 tag.
#
# Please update uses of this workflow to use the new workflow in hemilabs/.github
# New workflow: https://github.com/hemilabs/.github/blob/main/.github/workflows/npm-publish.yml

name: NPM Publish

on:
  workflow_call:
    inputs:
      fetch-depth:
        description: Number of commits to fetch. 0 indicates all history for all branches and tags.
        default: 1
        type: number

jobs:
  publish-to-npm:
    uses: hemilabs/.github/.github/workflows/npm-publish.yml@e7891934f1d7169d9d4615f427d1e1a9386a8890 # v1.0.0
    permissions:
      contents: read
      id-token: write
    with:
      fetch-depth: "${{ inputs.fetch-depth }}"
